</main>

<footer>
    <p>© <%= new Date().getFullYear() %></p>
</footer>
</body>
<script>
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: light)').matches) {
      document.documentElement.classList.add('light-mode');
    } else {
      document.documentElement.classList.add('dark-mode');
    }
</script>
</html>