<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Note Not Found</title>
</head>
<body>
    <div class="card">
        <h1 class="error">Blogg hittades inte 🤖</h1>
        <button onclick="location.href='/bloggar'" class="material-icons">arrow_back</button>
    </div>
</body>
</html>