<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogg</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="content">
        <div class="card">
            <div class="menu">
                <div class="menu-header">
                    <button class="material-icons" id="menu">menu</button>
                    <h2>Kategorier</h2>
                </div>
                <div class="categories">
                    <button>Kategori 1</button>
                    <button>Kategori 2</button>
                    <button>Kategori 3</button>
                    <button>Kategori 4</button>
                    <button>Kategori 5</button>
                </div>
            </div>
            <div class="header-row">
                <div class="left-panel">
                    <button class="material-icons" id="menu">menu</button>
                    <h1>Bloggar</h1>
                </div>
                <div class="right-panel">
                    <button id="create-blog">Skapa Blogg</button>
                    <button class="material-icons" id="profile">person</button>
                </div>
            </div>
            <div class="search">
                <div class="search-icon">
                    <i class="material-icons">search</i>
                </div>
                <div class="input-field">
                    <input type="text" placeholder="Sök Bloggar">
                </div>
                <div class="search-button">
                    <button class="material-icons">search</button>
                </div>
            </div>
            <div class="blog-cards">
                <div class="blog1">
                    <h1>Titel1</h1>
                    <h2>Författare: Ramin Samadi</h2>
                    <p>Varför COC-dokument är nödvändiga för Elsparkcyklar och Elcyklar. I takt med att vi rör oss mot en mer hållbar och effektiv transportinfrastruktur blir elsparkcyklar och elcyklar allt vanligare på våra gator. Dessa elektriska fordon erbjuder en smidig, miljövänlig och kostnadseffektiv lösning för korta resor i stadsmiljöer. Men för att dessa fordon ska kunna integreras säkert och lagligt i trafiken krävs det att de uppfyller vissa krav och standarder. Här spelar...</p>
                    <div class="blog-information-footer">
                        <h2>2024-04-09 23:31</h2>
                        <h2>Kategori: Dokument</h2>
                    </div>
                    <button class="show-more-button">Visa mer</button>
                </div>
                <div class="blog2">
                    <h1>Titel2</h1>
                    <h2>Författare: Nima Karami</h2>
                    <p>Smidig, miljövänlig transport kräver rätt skydd. Upptäck vilka försäkringar du behöver för din elcykel eller elsparkcykel för att njuta av en säker och trygg resa. Försäkring för elcykel: En elcykel omfattas oftast av hemförsäkringen om den har en motoreffekt på upp till 250...</p>
                    <div class="blog-information-footer">
                        <h2>2024-04-12 16:40</h2>
                        <h2>Kategori: Miljö</h2>
                    </div>
                    <button class="show-more-button">Visa mer</button>
                </div>
                <div class="blog1">
                    <h1>Titel3</h1>
                    <h2>Författare: Ramin Samadi</h2>
                    <p>Varför COC-dokument är nödvändiga för Elsparkcyklar och Elcyklar. I takt med att vi rör oss mot en mer hållbar och effektiv transportinfrastruktur blir elsparkcyklar och elcyklar allt vanligare på våra gator. Dessa elektriska fordon erbjuder en smidig, miljövänlig och kostnadseffektiv lösning för korta resor i stadsmiljöer. Men för att dessa fordon ska kunna integreras säkert och lagligt i trafiken krävs det att de uppfyller vissa krav och standarder. Här spelar...</p>
                    <div class="blog-information-footer">
                        <h2>2024-04-09 23:31</h2>
                        <h2>Kategori: Dokument</h2>
                    </div>
                    <button class="show-more-button">Visa mer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <%- include('partials/footer.ejs') %>
    </div>
</body>
</html>