html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: #171717;
    overflow: hidden;
}

.content {
    padding: 10px;
}

.footer {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-end;
}

#card-for-create-blog, #card-for-edit-blog {
    padding: 20px;
    color: #FFFFFF;
}

.author-create-blog button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
    font-size: 100%;
    border: 1px solid #5F6368;
    border-radius: 100vw;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #303134;
}

.author-save-blog button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    font-size: 30px;
    border: 1px solid #5F6368;
    border-radius: 100vw;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #303134;
}

.blog-functions-footer button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid #5F6368;
    border-radius: 100vw;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #303134;
}

.header-create-blog, .header-edit-blog {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.create-blog-form, .edit-blog-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.create-blog-form input, .edit-blog-form input {
    height: 30px;
    border-radius: 100vw;
    background: none;
    padding: 10px;
    color: #FFFFFF;
    font-size: 18px;
    border: 1px solid #5F6368;
}

.create-blog-form input:focus, textarea:focus, .edit-blog-form input:focus {
    outline: none;
}

.create-blog-form textarea, .edit-blog-form textarea {
    border-radius: 10px;
    background: none;
    padding: 10px;
    color: #FFFFFF;
    border-radius: 20px;
    font-size: 18px;
    border: 1px solid #5F6368;
    height: 400px;
    margin-bottom: 20px;
    resize: none;
}

#card-for-blog {
    padding: 20px;
    color: #FFFFFF;
}

#card-for-blog button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid #5F6368;
    border-radius: 100vw;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #303134;
}

.blog-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.blog-functions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.blog-functions-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 40px;
}

.username {
    display: flex;
    width: 90%;
    margin-bottom: 40px;
}

.password {
    display: flex;
    width: 90%;
}

.password-input, .username-input {
    display: flex;
    width: 100%;
}

.password-input input, .username-input input {
    width: 100%;
    height: 42px;
    border: 1px solid #5F6368;
    background: none;
    border-right: none;
    padding: 0px;
    color: white;
    font-size: 18px;
    border-radius: 100vw;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 10px;
}

.password-input input:focus, .username-input input:focus {
    outline: none;
}

.username-icon, .password-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border: 1px solid #5F6368;
    width: 50px;
    border-left: none;
    border-top-right-radius: 100vw;
    border-bottom-right-radius: 100vw;
}

.login {
    margin-top: 40px;
    width: 90%;
}

.login button {
    width: 100%;
    height: 42px;
    border: 1px solid #5F6368;
    border-radius: 100vw;
    background-color: #303134;
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 100%; /* Ändrat från width: 1800px; */
    height: 850px; /* Ändrat från height: 850px; */
    background-color: #202124;
    border: 1px solid #5F6368;
    border-radius: 20px;
}

.error {
    display: flex;
    justify-content: center;
    color: #f38ba8;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
    .card {
        height: 550px; /* Height for mobile devices */
    }

    .create-blog-form textarea {
        height: 150px;
    }

    .edit-blog-form textarea {
        height: 150px;
    }
}


.blog-cards {
    overflow: auto;
    max-height: 72vh; /* Ändrat från height: 650px; */
    color: #FFFFFF;
    padding: 20px;
}

.blog1, .blog2, .blog3 {
    border: 1px solid #5F6368;
    padding: 10px;
    border-radius: 20px;
    margin-top: 13px;
}

.blog1 h1, .blog2 h1, .blog3 h1 {
    font-size: 24px;
}

.blog1 h2, .blog2 h2, .blog3 h2 {
    font-size: 15px;
}

.header-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.menu {
    visibility: hidden;
    background-color: #202124;
    display: flex;
    flex-direction: column;
    position: absolute;
    border: 1px solid #5F6368;
    border-top: none;
    border-left: none;
    width: 20%;
    height: 89%;
    border-radius: 20px;
}

.menu-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 18px;
    gap: 20px;
    color: #FFFFFF;
}

.categories {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.categories button {
    height: 50px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    border-top-right-radius: 100vw;
    border-bottom-right-radius: 100vw;
    border: 1px solid #5F6368;
    background-color: #303134;
    font-size: 100%;
    cursor: pointer;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .menu {
        width: 95%; /* Take up the full width of the screen */
        position: absolute; /* Reset the position */
        height: 100px;
        border: none;
    }

    .categories {
        display: flex; /* Always display the category buttons */
        flex-direction: column; /* Arrange them in a column */
        position: absolute; /* Position them absolutely */
        top: 100%; /* Position them below the menu */
        left: 0; /* Adjust to the left */
        width: 100%; /* Take up the full width */
        border: none; /* Add a border */
        border-top: none; /* Remove the top border */
        background-color: #202124; /* Background color for the category list */
    }

    .categories button {
        height: 40px; /* Adjust button height for smaller screens */
        font-size: 14px; /* Adjust text size */
    }
}

.left-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
    color: #FFFFFF;
}

.left-panel h1 {
    font-size: 20px;
}

.right-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-right: 20px; /* Justerat från 40px */
}

.search {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 98%;
    align-items: center;
}

.input-field {
    width: 100%;
}

.input-field input {
    width: 100%; /* Ändrat från width: 1630px; */
    height: 42px;
    border: 1px solid #5F6368;
    background: none;
    padding: 0px;
    color: white;
    font-size: 18px;
    border-left: none;
    border-radius: 0px;
}

.input-field input:focus {
    outline: none;
}

#menu, #profile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303134;
    border: 1px solid #5F6368;
    height: 40px; /* Justerat från 50px för mobil */
    width: 40px; /* Justerat från 50px för mobil */
    border-radius: 100vw;
    cursor: pointer;
    color: #FFFFFF;
}

#create-blog {
    background-color: #303134;
    border: 1px solid #5F6368;
    height: 40px; /* Justerat från 50px för mobil */
    width: auto; /* Ändrat från width: 219px; */
    font-size: 12px; /* Justerat fontstorlek för mobil */
    border-radius: 20px;
    cursor: pointer;
    color: #FFFFFF;
    padding: 0 10px; /* Lägg till padding för mobilvisning */
}

.search-icon {
    display: flex;
    border: 1px solid #5F6368;
    border-right: none;
    height: 42px; /* Justerat från 52px för mobil */
    width: 30px;
    padding-left: 10px;
    margin-left: 20px;
    border-top-left-radius: 20px; /* Justerat från 100vw för mobil */
    border-bottom-left-radius: 20px; /* Justerat från 100vw för mobil */
    align-items: center;
    color: rgba(255, 255, 255, 0.5)
}

.search-button button {
    display: flex;
    border: 1px solid #5F6368;
    height: 44px; /* Justerat från 54px för mobil */
    width: 60px;
    border-top-right-radius: 20px; /* Justerat från 100vw för mobil */
    border-bottom-right-radius: 20px; /* Justerat från 100vw för mobil */
    color: #FFFFFF;
    background-color: #303134;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.show-more-button {
    background-color: #303134;
    border: 1px solid #5F6368;
    height: 40px; /* Justerat från 50px för mobil */
    width: auto; /* Ändrat från width: 138px; */
    border-radius: 20px;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 18px; /* Justerat fontstorlek för mobil */
}

.blog-information-footer {
    display: flex;
    flex-direction: row;
    gap: 10px; /* Justerat gap för mobil */
}

.blog-text {
    font-size: 18px; /* Justerat fontstorlek för mobil */
    height: 100%;
    overflow-y: scroll;
}

footer {
    display: flex;
    font-size: 18px; /* Justerat fontstorlek för mobil */
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    background-color: #202124;
    border: 1px solid #303134;
    bottom: 0;
    height: 50px;
    width: 100vw;
}

