html, body {
  display: flex;
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  flex-direction: column;
  overflow: hidden;
}

.light-mode html, .light-mode body {
  background-color: #f5f5f5;
}

.dark-mode html, .dark-mode body {
  background-color: #171717;
}

input:focus, textarea:focus, select:focus, button:focus {
  outline: 2px solid #a8c7fa;
}

.light-mode input:focus, .light-mode textarea:focus, .light-mode select:focus, .light-mode button:focus {
  outline: 2px solid #4285F4;
}

.content {
  padding: 10px;
}

.dark-mode .card {
  background-color: #202124;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 850px;
  border: 1px solid #5F6368;
  border-radius: 20px;
  overflow: hidden;;
}

@media screen and (max-height: 800px) {
  .card {
    height: 650px;
    overflow-y: scroll;
  }
}

.dark-mode .show-more-button {
  color: #FFFFFF;
  background-color: #303134;
}

.light-mode .show-more-button {
  color: #000000;
}

.show-more-button {
  border: 1px solid #5F6368;
  height: 40px;
  width: auto;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
}

.light-mode .show-more-button {
  background-color: #FFFFFF;
}

.light-mode li {
  color: #000000;
}

#card-for-create-blog, #card-for-edit-blog {
  padding: 20px;
}

.dark-mode #card-for-create-blog, .dark-mode #card-for-edit-blog {
  color: #FFFFFF;
}

.light-mode #card-for-create-blog, .light-mode #card-for-edit-blog {
  color: #000000;
}

@media screen and (max-height: 800px) {
  #card-for-create-blog, #card-for-edit-blog, #card-for-blog {
    height: 600px;
    overflow-y: scroll;
  }
}
.author-create-blog button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
  font-size: 100%;
  border: 1px solid #5F6368;
  border-radius: 100vw;
  cursor: pointer;
}

.dark-mode .author-create-blog button {
  color: #FFFFFF;
  background-color: #303134;
}

.light-mode .author-create-blog button {
  color: #000000;
  background-color: #FFFFFF;
}

.header-create-blog, .header-edit-blog {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.create-blog-form, .edit-blog-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.author-save-blog button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  font-size: 30px;
  border: 1px solid #5F6368;
  border-radius: 100vw;
  cursor: pointer;
}

.dark-mode .author-save-blog button {
  color: #FFFFFF;
  background-color: #303134;
}

.light-mode .author-save-blog button {
  color: #000000;
  background-color: #FFFFFF;
}

.create-blog-form input, .edit-blog-form input {
  height: 30px;
  border-radius: 100vw;
  background: none;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #5F6368;
}

.create-blog-form textarea, .edit-blog-form textarea {
  border-radius: 10px;
  background: none;
  padding: 10px;
  border-radius: 20px;
  font-size: 18px;
  border: 1px solid #5F6368;
  height: 400px;
  margin-bottom: 20px;
  resize: none;
}

.dark-mode .create-blog-form input, .dark-mode .edit-blog-form input, .dark-mode .create-blog-form textarea, .dark-mode .edit-blog-form textarea {
  color: #FFFFFF;
}

.light-mode .create-blog-form input, .light-mode .edit-blog-form input, .light-mode .create-blog-form textarea, .light-mode .edit-blog-form textarea {
  color: #000000;
}

#card-for-blog {
  padding: 20px;
}

.dark-mode #card-for-blog {
  color: #FFFFFF;
}

.light-mode #card-for-blog {
  color: #000000;
}

#card-for-blog button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #5F6368;
  border-radius: 100vw;
  cursor: pointer;
}

.dark-mode #card-for-blog button {
  color: #FFFFFF;
  background-color: #303134;
}

.light-mode #card-for-blog button {
  color: #000000;
  background-color: #FFFFFF;
}

.blog-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.blog-functions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.blog-cards {
  overflow: auto;
  max-height: 72vh;
  color: #FFFFFF;
  padding: 20px;
}

.blog-cards ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.blog {
  border: 1px solid #5F6368;
  padding: 10px;
  border-radius: 20px;
  margin-top: 13px;
  overflow: hidden;
}

.blog h1{
  font-size: 20px;
}

.blog h2 {
  font-size: 15px;
}

.left-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
  color: #FFFFFF;
}

.right-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  margin-right: 20px;
}

#menu, #profile, #menu-category, #menu-for-category {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 100vw;
  cursor: pointer;
}

.dark-mode #menu, .dark-mode #profile, .dark-mode #menu-category, .dark-mode #menu-for-category {
  background-color: #303134;
  border: 1px solid #5F6368;
  color: #FFFFFF;
}

.light-mode #menu, .light-mode #profile, .light-mode #menu-category, .light-mode #menu-for-category {
  background-color: #FFFFFF;
  border: 1px solid #5F6368;
  color: #303134;
}

.create-blog {
  height: 40px;
  width: auto;
  font-size: 100%;
  border-radius: 20px;
  cursor: pointer;
  padding: 0 10px;
}

.dark-mode .create-blog {
  background-color: #303134;
  border: 1px solid #5F6368;
  color: #FFFFFF;
}

.light-mode .create-blog {
  background-color: #FFFFFF;
  border: 1px solid #5F6368;
  color: #303134;
}

.home-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.dark-mode .home-button {
  color: #FFFFFF;
}

.light-mode .home-button {
  color: #303134;
}

.blog-text {
  font-size: 18px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 10px;
  white-space: pre-wrap; 
  word-wrap: break-word;
}

.header-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/*  
  █▀ ▄▀▄ ▄▀▄ ▀█▀ ██▀ █▀▄
  █▀ ▀▄▀ ▀▄▀  █  █▄▄ █▀▄
*/
.footer {
  display: flex;
  height: 100%;
  align-items: flex-end;
}

footer {
  display: flex;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  bottom: 0;
  height: 50px;
  width: 100vw;
}

.dark-mode footer {
  color: #FFFFFF;
  background-color: #202124;
  border-top: 1px solid #5F6368;
}

.light-mode footer {
  color: #303134;
  background-color: #FFFFFF;
  border-top: 1px solid #5F6368;
}

.blog-information-footer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 100%;
}

.blog-functions-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blog-functions-footer button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #5F6368;
  border-radius: 100vw;
  cursor: pointer;
}

.dark-mode .blog-functions-footer button {
  background-color: #303134;
  color: #FFFFFF;
}

.light-mode .blog-functions-footer button {
  background-color: #FFFFFF;
  color: #303134;
}

/* 
  ▄▀▀ ▄▀▄ ▀█▀ ██▀ ▄▀  ▄▀▄ █▀▄ ▀▄▀   █▄ ▄█ ██▀ █▄ █ █ █
  ▀▄▄ █▀█  █  █▄▄ ▀▄█ ▀▄▀ █▀▄  █    █ ▀ █ █▄▄ █ ▀█ ▀▄█
*/
.menu {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  border-top: none;
  border-left: none;
  width: 40%;
  height: inherit;
  border-radius: 20px;
}

.dark-mode .menu {
  background-color: #202124;
  border: 1px solid #5F6368;
  color: #FFFFFF;
}

.light-mode .menu {
  background-color: #F5F5F5;
  border: 1px solid #5F6368;
  color: #303134;
}

.menu-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  gap: 20px;
}

.dark-mode .menu-header {
  color: #FFFFFF;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.categories button {
  height: 50px;
  display: flex;
  align-items: center;
  border-top-right-radius: 100vw;
  border-bottom-right-radius: 100vw;
  font-size: 100%;
  cursor: pointer;
}

.dark-mode .categories button {
  background-color: #303134;
  border: 1px solid #5F6368;
  color: #FFFFFF;
}

.light-mode .categories button {
  background-color: #FFFFFF;
  border: 1px solid #5F6368;
  color: #303134;
}

/* 
  ▄▀▀ ██▀ ▄▀▄ █▀▄ ▄▀▀ █▄█
  ▄██ █▄▄ █▀█ █▀▄ ▀▄▄ █ █
*/
.search {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 98%;
  height: 44px;
  align-items: center;
}

.search-icon {
  display: flex;
  border: 1px solid #5F6368;
  border-right: none;
  height: 42px;
  width: 30px;
  padding-left: 10px;
  margin-left: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  align-items: center;
}

.dark-mode .search-icon {
  color: rgba(255, 255, 255, 0.5)
}

.light-mode .search-icon {
  color: rgba(0, 0, 0, 0.5)
}

.input-field {
  width: 100%;
}

.input-field input {
  width: 100%;
  height: 42px;
  border: 1px solid #5F6368;
  background: none;
  padding: 0px;
  font-size: 18px;
  border-left: none;
  border-radius: 0px;
}

.search-button {
  display: flex;
  height: 100%;
}

.search-button button {
  display: flex;
  height: 100%;
  width: 60px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dark-mode .search-button button {
  border: 1px solid #5F6368;
  color: #FFFFFF;
  background-color: #303134;
}

.light-mode .search-button button {
  border: 1px solid #5F6368;
  color: #000000;
  background-color: #FFFFFF;
}

/* 
  ██▀ █▀▄ █▀▄ ▄▀▄ █▀▄
  █▄▄ █▀▄ █▀▄ ▀▄▀ █▀▄
*/
.error, #card-for-error-blog {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f38ba8;
}

/* 
  █   ▄▀▄ ▄▀  █ █▄ █
  █▄▄ ▀▄▀ ▀▄█ █ █ ▀█
*/
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 40px;
}

.username {
  display: flex;
  width: 90%;
  margin-bottom: 40px;
}

.password {
  display: flex;
  width: 90%;
}

.password-input, .username-input {
  display: flex;
  width: 100%;
}

.password-input input, .username-input input {
  width: 100%;
  height: 42px;
  border: 1px solid #5F6368;
  background: none;
  border-right: none;
  padding: 0px;
  color: white;
  font-size: 18px;
  border-radius: 100vw;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 10px;
}

.username-icon, .password-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  border-top-right-radius: 100vw;
  border-bottom-right-radius: 100vw;
}

.dark-mode .username-icon, .dark-mode .password-icon {
  color: #FFFFFF;
  border: 1px solid #5F6368;
  border-left: none;
}

.light-mode .username-icon, .light-mode .password-icon {
  color: #000000;
  border: 1px solid #5F6368;
  border-left: none;
}

.login {
  margin-top: 40px;
  width: 90%;
}

.login button {
  width: 100%;
  height: 42px;
  border-radius: 100vw;
  font-size: 18px;
  cursor: pointer;
}

.dark-mode .login button {
  border: 1px solid #5F6368;
  color: #FFFFFF;
  background-color: #303134;
}

.light-mode .login button {
  border: 1px solid #5F6368;
  color: #000000;
  background-color: #FFFFFF;
}

/* Stilar specifika för light mode */
.light-mode {
  background-color: #FFFFFF;
  color: #171717;
}

.light-mode .card {
  background-color: #F5F5F5;
}

.dark-mode {
  background-color: #171717;
  color: #FFFFFF;
}

/* 
  █▀▄ █▄█ ▄▀▄ █▄ █ ██▀
  █▀  █ █ ▀▄▀ █ ▀█ █▄▄
*/
@media screen and (max-width: 768px) {
  .card {
    height: 73vh;
  }

  .right-panel {
    gap: 5px;
  }

  .create-blog-form textarea {
    height: 150px;
  }

  .edit-blog-form textarea {
    height: 150px;
  }

  .create-blog {
    font-size: 16px;
    width: 120px;
  }
  
  .blog-information-footer h3 {
    font-size: 16px;
  }

  .blog-information-footer h2 {
    font-size: 16px;
  }

  .create-blog-form textarea, .edit-blog-form textarea {
    font-size: 16px;
  }

  .create-blog-form input, .edit-blog-form input {
    font-size: 16px;
  }

  .blog-header h1 {
    font-size: 18px;
  }

  .blog-text {
    font-size: 16px;
  }

  #card-for-blog h2 {
    font-size: 16px;
  }
  
  .menu {
    width: 94.5%;
    position: absolute;
    border: none;
    height: inherit;
  }

  .dark-mode .menu, .light-mode .menu {
    border: none;
  }

  menu-header {
    position: fixed;
  }

  .categories {
    position: absolute;
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 80px;
    left: 0;
    width: 100%;
    border: none;
    border-top: none;
  }

  .dark-mode .categories {
    background-color: #202124;
  }

  .light-mode .categories {
    background-color: #f5f5f5;
  }

  .categories button {
    height: 40px;
    font-size: 16px;
    border-radius: 100vw;
  }

  .left-panel {
    gap: 0px;
    margin-left: 2%;
  }

  #card-for-blog, #card-for-create-blog, #card-for-edit-blog {
    height: 68vh;
  }
}

.dark-mode input {
  color: #FFFFFF;
}

.light-mode input {
  color: #000000;
}